<!DOCTYPE html>

<html ng-app="pirate">
  <head>
    <title>pirate</title>
    <meta charset="UTF-8">
    <base href="/">
    <!-- Favicon --> <!-- TODO: It doesn't work -->
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- JavaScript -->
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/style.js"></script>
  </head>

  <body ng-controller="IndexController">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand animate-nav" href="/">Pirate</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="" data-toggle="modal" data-target="#myModal">{{currentRegistry}}</a></li>
        </ul>
      </div>
    </div>

    <!-- Modal to change registry -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Change docker-registry</h4>
          </div>
          <div class="modal-body">
            <form role="form" >
              <div class="form-group">
                <input class="form-control" placeholder="http://96.126.127.93:5000" ng-model="newRegistry">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="setRegistry(newRegistry)">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Todo: No need to use <br/> to move content below the navigation bar -->
    <br/><br/><br/><br/>

    <div class="container">
      <div class="row">

        <!-- Left part to show all repositories -->
        <div class="col-md-5">

          <h2>All Repositories</h2>

          <div>
            <input type="text" class="form-control" placeholder="Search" ng-model="search" autofocus>
          </div>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Tags</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="canonicalRepository in canonicalRepositories | filter: search track by $index" ng-init="parentIndex = $index">
                <td>{{canonicalRepository.name}}</td>
                <td>
                  <span ng-repeat="tag in tags[$index]">
                    <!-- Refer to http://stackoverflow.com/questions/26742361/angularjs-ng-repeat-track-by-index-inside-nested-loops for usage -->
                    <a ng-href="/{{images[$parent.$index][$index]}}">{{tag}} <a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div> <!-- End of left part -->

        <!-- Right part to show image detail -->
        <div class="col-md-7">
          <div ng-view></div>
        </div> <!-- End of right part -->

      </div>
    </div>

    <!-- No footer -->

  </body>
</html>
